@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --verde-fundo: #53AF31;
    --verde-conteudo: #7AC843;
    --verde-hover: #4DA32E;
    --branco: #FFFFFF;
    --cinza-bola: #C4C4C4;
    --verde-bola: #3A8E1C;
    --verde-claro: #D6FFC7;
    --raleway: 'Raleway', sans-serif;
}

main {
    font-family: var(--raleway);
    width: auto;
}

.topo__logo{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    flex-wrap: wrap;
}


.topo__logo-link{
    width: 70%;
    margin-left: 5%;
    margin-bottom: 1rem;
}

.topo__logo--imagem {
    height: 3rem;

}

.topo__nav{
    width: 100%;
}

.menu-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    cursor: pointer;
    margin-right: 5%;
}

.topo__nav {
    display: none;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ .topo__nav{
    display: block;
}

.topo__nav ul{
    background: var(--verde-fundo);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topo__nav--item{
    border-bottom: 1px solid #ffffff8a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo__nav--item-link{
    text-decoration: none;
    color: var(--branco);
    font-family: var(--raleway);
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 80%;

}

.topo__nav--item-link:hover{
    font-size: 1.1rem;
}

.banner {
    width: auto;
    height: 333px;
}

.banner__imagem{
    width: 100%;
    height: 333px;

}

.conteudo{
    padding: 2rem 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family: var(--raleway);
    background: url('../img/separador.png') no-repeat ;
    background-size: contain;
}

.conteudo__texto{
    margin-top: 1rem;
}

.conteudo__imagem{
    margin-bottom: 1rem;
    width: 90%;
}

.conteudo__texto--titulo{
    color: var(--verde-bola);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.conteudo__texto--lista{
    list-style-type: square;
    margin-left: 3rem;
}

.conteudo__texto--frase, .conteudo__texto--lista li p {
    font-weight: 500;
    text-align: justify;
    line-height: 1.5rem;
}

.verde{
    background-color: var(--verde-conteudo);
}

.verde .conteudo__texto{
    color: white;
}

.verde .conteudo__imagem{
    margin-right: 0;
}

.verde .conteudo__texto--titulo{
    color: white;
}

.footer__info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--raleway);
    font-weight: 500;
    padding: 2rem 0;
    font-size: 1.1rem;
}

.footer{
    background-color: var(--verde-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
}

.footer__img{
    width: 200px;
}

.footer__menu{
    display: flex;
    flex-wrap: wrap;
}

.footer__menu--link{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__menu--link a{
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--verde-bola);
    font-family: var(--raleway);
    font-weight: 500;
}

.voltar{
    width: 30%;
    background: url("../img/barra.png") repeat-x;
    padding: 1.2rem;

}

.voltar-img{
    background: url("../img/barra-f.png");
    width: 25%;
}

.voltar a{
    color: var(--verde-fundo);
    text-decoration: none;
    font-weight: 600;
    border: 1px solid var(--verde-fundo);
    border-radius: 25px;
    padding: 0.3rem 1rem;
    margin-left: 1.5rem;

}

.voltar a:hover{
    color: var(--verde-hover);
    border: 1px solid var(--verde-hover);
    padding: 0.4rem 1.1rem;
}

.divisor-banner{
    display: flex;
    position: relative;
    top: -30px;
}

.assunto__titulo{
    color: var(--verde-fundo);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.assunto__img{
    width: 100%;
    margin-bottom: 2rem;
}
.bold{
    font-weight: 700;
}
.assunto__texto p {
    text-align: justify;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.assunto__texto h2{
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.outros{
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.outros h2{
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--verde-fundo);
    margin-bottom: 1rem;
}

.nav__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    width: 48%;
    text-decoration: none;
    font: var(--raleway);
}

.item img{
    width: 100%;
    border-radius: 10px;
    height: 95%;
}

.item p{
    position: relative;
    bottom: 35px;
    left: 10px;
    color: var(--branco);
    font-weight: 700;
    font-size: 80%;
    width: 80%;
}


#p1, #p2, #p3, #emp1, #emp2, #emp3, #emp4, .d1,.d2,.d3,.d4,.d5,.d6,.d7 {
    display: none;
}

.praticas label{
    padding-right: 1rem;
    font-weight: 700;
    background-color: var(--verde-bola);
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.1rem;
}

.branco .praticas label{
    background-color: var(--branco);
    width: 40%;
    display: flex;
    align-items: center;
}

.branco .praticas label img{
    width: 98%;
}

.branco .praticas label img:hover{
    width: 100%;
}

#p1:checked ~ .d1, #p2:checked ~ .d2, #p3:checked ~ .d3,
#emp1:checked ~ .d4, #emp2:checked ~ .d5, #emp3:checked ~ .d6, #emp4:checked ~ .d7{
    display: block;
}


.full .conteudo__texto{
    width: 100%;
}

.d1, .d2, .d3, .d4, .d5, .d6,.d7{
    padding: 2rem;
    margin: 1rem 0rem;
    border: 1px solid var(--branco);
    border-radius: 5px;
}

.praticas{
    display: flex;
    flex-wrap: wrap;
}

.branco .praticas{
    justify-content: space-between;
}

.praticas .conteudo__texto--titulo{
    font-size: 1.2rem;
}

.praticas .conteudo__texto{
    text-align: justify;
}

.ol{
    list-style-type: decimal;
    margin-left: 2rem;
}

.ul{
    list-style-type: square;
    margin-left: 2rem;
}


@media screen and (min-width: 650px) {
    .topo__nav {
        display: block;
    }
    .branco .praticas label{
        width: 20%;
    }


    .topo__logo{
        padding: 0;
    }
    .topo__logo-link{
        width: 100%;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
    }
    .menu-button-container {
        display: none;
    }
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__menu--link{
        width: auto;
        padding: 1rem;
    }
    .conteudo__imagem{
        margin-right: 2rem;
        margin-bottom: 0;
        width: 80%;
    }

    .conteudo{
        padding: 2rem 4rem;
    }

    .outros{
        padding: 0 4rem;
    }

    .item{
        width: 24%;
    }
    .topo__nav--item{
        border-bottom: none;
    }

    .topo__nav ul{
        flex-direction: row;
        padding: 0 6rem ;
    }

}


@media screen and (min-width: 801px) {
    .toggle{
        display: none;
    }

    .topo__logo{
        justify-content: center;
    }

    .topo__logo--imagem{
        height: 5rem;
    }


    .conteudo{
        flex-direction: row;
        padding: 4rem 6rem;

    }

    .outros{
        padding: 0 6rem;
    }

    .conteudo__imagem{
        width: 50%;
    }

    .verde .conteudo__imagem{
        order: 1;
    }
    .content3{
        flex-wrap: wrap;
    }
    
    .content3 img{
        width: 40%;
        margin-bottom: 2rem;
    }
    
    .content3 div{
        width: 55%;
    }
    
    .content3 div:nth-child(3){
        width: 100%;
    }
    .assunto__img{
        height: 500px;
    }

}

@media screen and (min-width: 1025px){
    .topo__nav ul{
        padding: 0 10rem ;
    }

    
    .conteudo{
        padding: 4rem 8rem;
    }

    .outros{
        padding: 0 8rem;
    }
}

@media screen and (min-width: 1281px){
    .topo__nav ul{
        padding: 0 20rem ;
    }
    .conteudo{
        padding: 4rem 8rem;
    }
    .outros{
        padding: 0 12rem;
    }
}

@media screen and (min-width: 1400px){
    .topo__nav ul{
        padding: 0 20rem ;
    }
    .conteudo{
        padding: 4rem 16rem;
    }
    .outros{
        padding: 0 12rem;
    }
}